# Python
venv/
__pycache__/
*.py[cod]
.env

# React / Node
node_modules/
dist/
.eslintcache

# Windows
Thumbs.db
Desktop.ini

# Neo4j
# (Usually not needed if you aren't storing the DB inside the folder)